@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>Welcome!</h2>
<p>Here is the information you entered: </p>
<ul>
    <li>First name: @ViewBag.firstName</li>
    <li>Last name: @ViewBag.lastName</li>
    <li>Age: @ViewBag.age</li>
</ul>